<h1 id="Encabezado">Sobre Comics</h1>
<hr>

<p id="txt" class="d-flex justify-content-between">
Marvel Cómics:
Marvel Cómics es una editorial norteamericana de cómics. Es conocida popularmente como "La casa de las ideas" por la creación de numerosos 
personajes emblemáticos del género de superhéroes. Algunos de sus cómics más conocidos son Los 4 Fantásticos, Spider-Man, Daredevil, 
Capitán América, Los Vengadores, Iron Man, Hulk, Wolverine y los X-Men. Desde los años 60 la compañía constituye una de las mayores editoriales 
de este género. Localizada en Nueva York, fue fundada en el 387 de Park Avenue South, teniendo sus oficinas en la actualidad en el 
40th East 10th Avenue.
</p>
<p id="txt1" class="d-flex justify-content-between">
    DC Comics:
    DC Comics es una editorial de cómics estadounidense. Forma parte de DC Entertainment,
    una de las empresas que conforman Warner Bros. Entertainment, 
    la cual a su vez es propiedad de Warner Bros. Discovery. Fue fundada en 1934 bajo el nombre National Allied Publications, 
    para luego tomar el nombre de DC Comics en 1937.Entre algunos de sus personajes más emblemáticos se encuentran Superman, Batman, 
    Mujer Maravilla, Flash, Linterna Verde, Aquaman, Hombre Halcón, Chica Halcón, Flecha Verde, Shazam, Detective Marciano, Starfire,
    Nightwing, Raven, Cyborg, Canario Negro, Doctor Destino, Robin, Chico Bestia, Zatanna, Hombre Plástico, Catwoman, Supergirl, 
    El Joker y Harley Quinn.  
</p>
<div>
    <img src="assets/img/aboutimg.png" class="img-fluid" >
</div>
<hr>
