<h1 id="Encabezado">Crossovers</h1>
<hr>

<p id="txt" class="d-flex justify-content-between">
    Marvel y DC Comics se juntaron para crear el Universo Amalgama, que incluía combinaciones como la Princesa Ororo de 
    Themiscyra (Wonder Woman y Storm), Dark Claw (Batman y Wolverine), Spider-Boy (Superboy y Spider-Man), Mister X
    (Martian Manhunter y Professor X) y Ra’s a-Pocalypse (Ra’s al Ghul y Apocalypse).
</p>
<p id="txt1" class="d-flex justify-content-between">
    El segundo evento crossover oficial tuvo lugar en 2003/2004 con La Liga de la Justicia / Vengadores de Kurt Busiek, lo
    que marcó la última vez que Marvel y DC Comics permitieron que sus personajes interactuaran. Esta historia presentó el
    tipo de momentos que los fans anhelaban como por ejemplo cuando Superman empuñó a Mjolnir y el escudo del Capitán
    América, las 2 versiones «Capitán Marvel» apareciendo a la vez y Batman admitiendo que el Capitán América
    probablemente podría vencerlo en un lucha.
</p>
<hr>

<div
  id="carouselMultiItemExample"
  class="carousel slide carousel-dark text-center"
  data-mdb-ride="carousel"
>
  
  <div class="carousel-inner py-4">
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card">
              <img
                src="assets/img/Comic1.jpg"
                class="card-img-top"
              
                height="500px"
              />
              <div class="card-body">
                <h5 class="card-title">DC Versus Marvel</h5>
               
                
              </div>
            </div>
          </div>

          <div class="col-lg-4 ">
            <div class="card">
              <img
                src="assets/img/Comic2.jpg"
                class="card-img-top"
              
                height="500px"
              />
              <div class="card-body">
                <h5 class="card-title">Superman VS The Amazing Spiderman</h5>
            
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card">
              <img
                src="assets/img/Comic3.jpg"
                class="card-img-top"
                width="500px"
              />
              <div class="card-body">
                <h5 class="card-title">Legends</h5>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  