@import url('http://fonts.cdnfonts.com/css/wigglye');
@import url('http://fonts.cdnfonts.com/css/kg-corner-of-the-sky');
#Encabezado {
    font-family: 'Wigglye', sans-serif;
    font-size: 75px;
    
   
}

#txt{
    font-family: 'KG Corner of the Sky', sans-serif;                                            
    font-size: 15px;
    text-align: justify;
 
}

#txt1{
    font-family: 'KG Corner of the Sky', sans-serif;                                            
    font-size: 15px;
    text-align: justify;
   
}
